$filter-wrapper: 40px;
$route-hover: goldenrod;

.route-picker {
  position: relative;
  float: left;
  height: 100%;
  width: 180px;
  box-shadow: 2px 0 2px rgba(0,0,0,0.4);
  background: #efefef;

  .route-color {
    position: relative;
    float: right;
    width: 12px;
    height: 12px;
    border: 1px solid #888;
    border-radius: 100%;
    margin: 3px 6px;
  }

  .route-filter-wrapper {
    width: 100%;
    height: $filter-wrapper;
    border-bottom: 1px solid grey;
    background: white;
  }

  .route-filter {
    width: 160px;
    height: 20px;
    margin: 8px;
  }

  .route-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100% - #{$filter-wrapper});
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: $dark-black;
    }
  }

  .route-list-item {
    &:nth-child(odd) {
      background: #efefef;
      &:hover {
        background: $route-hover;
      }
    }
    &:nth-child(even) {
      background: #e0e0e0;
      &:hover {
        background: $route-hover;
      }
    }

    input {
      margin: 4px 2px 4px 8px;
    }
  }
}
