html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

$header-height: 40px;
$dark-black: #1f1f1f;

.main-container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.main {
  position: relative;
  display: block;
  height: calc(100% - #{$header-height});
  overflow: hidden;
}

.header {
  position: relative;
  display: block;
  height: $header-height;
  align-items: center;
  background-color: $dark-black;
  padding: 6px;
  box-sizing: border-box;
}

.header-title {
  display: inline-block;
  margin: 5px auto;
}

@import "./app/map/map";
@import "./app/route-picker/route-picker";
